-# Only :model is requred when the form is being rendered as reply-to-post
-# Other stuff is requred when the form is being rendered as reply-to-comment
= form_with model: [commentable, Comment.new],                  |
            local:  true,                                       |
             html:  { class:   local_assigns[:class],           |
                       data: { target: local_assigns[:target] } |
                    } do |f|                                    |

  = f.hidden_field :parent_id, value: local_assigns[:parent_id]

  .field
    .control
      = f.text_area :body,       class: 'textarea is-small mb-4', |
                           placeholder: 'Add a comment'           |

  .field
    .control
      = f.submit 'Comment', class: 'button is-pulled-left is-info width-20'
