.columns
  .column.tile.is-ancestor
    .tile.is-parent.is-vertical
      .tile.is-child.box
        %p.title.is-3= @name
      .tile.is-child.box= render 'posts/form'
      = render @wall.posts.reverse
