.columns
  .column.tile.is-ancestor
    .tile.is-parent.is-vertical

      -# Block with a user' name and additional information about that user
      .tile.is-child.box
        %p.title.is-3= full_name(@user)

      -# Block with only form for posting
      .tile.is-child.box.is-clearfix= render 'posts/form'

      -# Several blocks. Each one contains a single post
      = render @posts
