.tile.is-child.box
  %p.title.is-5= link_to post.author_name, user_url(post.author_id)
  %p.subtitle.is-6.grey= formatted_creation_time_of(post)

  %p.content= post.body

  %a.button{ href: post_path(post),
            class: 'is-outlined is-info button--to-post' }
    %span.icon.is-small
      %i.fa.fa-comment-o
    - if post.comments_amount.positive?
      %span= pluralize(post.comments_amount, 'comment')
