.tile.is-child.box
  %p.title.is-5= link_to full_name(post.user), user_url(post.user)
  %p.subtitle.is-6.grey= creation_time(post)

  %p.content= post.body

  %a.button{ href: post_path(post) }
    %span.icon.is-small
      %i.fa.fa-comment-o
    - comments_quantity = post.comments.count
    - if comments_quantity.positive?
      %span= pluralize(comments_quantity, 'comment')
