.width-75
  width: 75%

#delimiter-line
  width: 100%
  text-align: center
  border-bottom: 1px solid #000
  line-height: 0.1em
  margin: 0.75rem 0 0.75rem

#delimiter-text
  background:#fff
  padding: 0 0.75rem
