- if notice
  %p.notification.is-primary= notice
- if alert
  %p.notification.is-danger= alert

.notification.has-text-centered
  %p.content.is-large Welcome to VkClone!
  %p.content.is-large Please sign up or log in to continue
